<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">

        <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="images/slider1.jpg" alt="First slide">
            <div id="banner">
            <div class="banner-container app-wrap">
                    <div class="banner-image">
                    <img src="images/banner-logo2.png" class="image-responsive">
                    </div>
                    <div class="banner-tags">
                    <a href="JavaScript:void(0);"><span>Action</span></a>
                    <a href="JavaScript:void(0);"><span>Comedy</span></a>
                    <a href="JavaScript:void(0);"><span>Drama</span></a>
                    <a href="JavaScript:void(0);"><span>Fantasy</span></a>
                    </div>
                    <div class="banner-description">
                    <p class="text-justify">Night Raid is the covert assassination branch of the Revolutionary Army, an uprising assembled to overthrow Prime Minister Honest, whose avarice and greed for power has lead him to take advantage of the child emperor's inexperience. Without a strong and benevolent leader, the rest of the nation is left to drown in poverty, strife, and ruin. Though the Night Raid members are all experienced killers, they understand that taking lives is far from commendable and that they will likely face retribution as they mercilessly eliminate anyone who stands in the revolution's way.</p>
                    </div>
                    <div class="btn-container">
                    <a href="JavaScript:void(0);" class="btn btn-danger"><span>Chapter 80</span></a>
                    <a href="JavaScript:void(0);" class="btn btn-default"><span>Akame ga kill Chapters</span></a>
                    </div>
            </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide" src="images/slider2.jpg" alt="Second slide">
            <div id="banner">
            <div class="banner-container app-wrap">
                    <div class="banner-image">
                    <img src="images/banner-logo1.png" class="image-responsive">
                    </div>
                    <div class="banner-tags">
                    <a href="JavaScript:void(0);"><span>Action</span></a>
                    <a href="JavaScript:void(0);"><span>Comedy</span></a>
                    <a href="JavaScript:void(0);"><span>Drama</span></a>
                    <a href="JavaScript:void(0);"><span>Fantasy</span></a>
                    </div>
                    <div class="banner-description">
                    <p class="text-justify">Grotesque monsters known as Impurities reside in Magano, a realm parallel to the present day. Exorcists purify these evil apparitions to protect the people. Rokuro Enmado is opposed to becoming an exorcist, even though he has the talent to be one, but an oracle gives him the title of "Twin Star Exorcist," the name bestowed upon married exorcists. Benio Adashino, the girl who receives the title along with Rokuro, is determined to exorcise all the Kegare, or Impurities, in the world. The two find themselves wrapped up in more and more battles together as the Twin Star Exorcists...</p>
                    </div>
                    <div class="btn-container">
                    <a href="JavaScript:void(0);" class="btn btn-danger"><span>Chapter 38</span></a>
                    <a href="JavaScript:void(0);" class="btn btn-default"><span>Twin Star Exorcist Chapters</span></a>
                    </div>
            </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="images/slider3.jpg" alt="Third slide">
            <div id="banner">
            <div class="banner-container app-wrap">
                    <div class="banner-image">
                    <img src="images/banner-logo3.png" class="image-responsive">
                    </div>
                    <div class="banner-tags">
                    <a href="JavaScript:void(0);"><span>Action</span></a>
                    <a href="JavaScript:void(0);"><span>Supernatural</span></a>
                    <a href="JavaScript:void(0);"><span>Demons</span></a>
                    <a href="JavaScript:void(0);"><span>Fantasy</span></a>
                    </div>
                    <div class="banner-description">
                    <p class="text-justify">Ao no Exorcist follows Rin Okumura who appears to be an ordinary, somewhat troublesome teenager—that is until one day he is ambushed by demons. His world turns upside down when he discovers that he is in fact the very son of Satan and that his demon father wishes for him to return so they can conquer Assiah together. Not wanting to join the king of Gehenna, Rin decides to begin training to become an exorcist so that he can fight to defend Assiah alongside his brother Yukio.</p>
                    </div>
                    <div class="btn-container">
                    <a href="JavaScript:void(0);" class="btn btn-danger"><span>Chapter 89</span></a>
                    <a href="JavaScript:void(0);" class="btn btn-default"><span>Ao no Exorcist Chapters</span></a>
                    </div>
            </div>
            </div>
        </div>
        </div>
    </div><!-- /.carousel -->

    <div class="tiles-container">
        <div id="new" class="row app-wrap container-fluid">
            <h1>New Releases</h1>
        </div>
        <div id="trending" class="row app-wrap container-fluid">
            <h1>Trending</h1>
        </div>

        <div id="read-again" class="row app-wrap container-fluid">
            <h1>Read It Again</h1>
        </div>
    </div>
    {{outlet}}